body {
    overflow-x: hidden;
}
.inner{
    max-width: 960px;
    width: 100%;
    padding:  0 4%;
    margin: 0 auto;
    box-sizing: border-box;
}
.header{
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin: 15px auto;
}
/* レスポンシブでもヘッダーは横並び*/
.header-profile{
    content: "";
    background: url(../img/profilesite/logo.svg) no-repeat ;
    width: 135px;
    height: auto;
    background-size: contain;
    background-position: center;
}
.header-nav{
    display: flex;
    font-size: 18px;
}
.header-nav__list {
    list-style: none;
    margin-left: 20px;
    height: 50px;
    align-content: center;
}
.link {
    text-decoration: none;
    color: #000;
}
.main__img {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    width: 100vw;
}
.main__img img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}
.main-ttl {
    width: fit-content;
    margin: 100px auto;
    font-size: 40px;
    border-bottom: solid 0.5px #000;
    padding-bottom: 5px;
}

/* 以下、レスポンシブ SP縦並び */
.main-about__prof {
    display: flex;
    margin: 40px auto;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.main-about__img {
    display: inline-block;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: 30px;
}
.main-about__name {
    font-weight: bold;
    margin-bottom: 20px;
}
.main-about__txt {
    font-weight: 300;
}
.main-bicycle__content {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    font-size: 20px;
}
.main-bicycle__content-img {
    width: 300px;
    height: auto;
    margin: 10px 10px;
}
.main-bicycle__content-name {
    text-align: center;
    margin: 10px auto;
}
.main-bicycle__content-txt {
    text-align: center;
    margin: 20px auto;
    font-weight: 300;
}
.footer {
    text-align: center;
    font-size: 10px;
    margin: 10px auto;
}

@media screen and (max-width: 600px) {
    .inner {
        width: 100%;
        max-width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }
    .header {
        height: auto;
        padding: 10px 0;
    }
    .header-profile {
        width: 130px;
        height: 30px;
    }
    .header-nav {
        font-size: 14px;
    }
    .header-nav__list {
        margin-left: 15px;
        margin-right: 15px;
        height: auto;
    }

    .main-about__prof {
        flex-direction: column;
        text-align: center;
    }
    .main-about__img {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .main-bicycle__content {
        flex-direction: column;
        align-items: center;
    }
    .footer {
        width: 100%;
        height: 30px;
        padding: 40px 0;
        text-align: center;
    }
}
